h2{
    font-family: initial;
    color: rgb(31, 37, 41);
    text-align: center;
}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #8f5151;
}
label{
    font-family: initial;
    font-style: italic;
    font-size: large;
    padding: 2;
}
h3{
    font-family: initial;
    font-style: italic;
    font-size: large;
}